$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

@mixin transform-rotate($val, $x, $y){
    @if($val != null){
        -webkit-transform: rotate($val + deg);
        -moz-transform   : rotate($val + deg);
        -o-transform     : rotate($val + deg);
        -ms-transform    : rotate($val + deg);
        transform        : rotate($val + deg);

        -webkit-transform-origin: $x $y;
        -moz-transform-origin: $x $y;
        -o-transform-origin: $x $y;
        -ms-transform-origin: $x $y;
        transform-origin: $x $y;
    }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* MINE */
$main-color: #19BD9B;
$main-color-darker: #0F6655;
$main-color-darkest: #0B493D;

body {
  background-color: $main-color;
}

$toxic-width: 350px;
$toxic-height: 350px;

#toxic-wrapper {
  background-image: url('../images/toxic-bg.png');
  background-repeat: no-repeat;
  height: $toxic-height;
  width: $toxic-width;

  position: absolute;
  top: calc(45% - #{$toxic-height} / 2);
  left: calc(50% - #{$toxic-width} / 2);

  .heart {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    position: absolute;

    &.left {
      top: 70px;
      left: 110px;
    }

    &.right {
      top: 75px;
      left: 245px;
    }

    &.busy {
      background-image: url('../images/heart-busy.png');
    }

    &.empty {
      background-image: url('../images/heart-empty.png');
    }
  }

  .animation {
    position: absolute;
    background-repeat: no-repeat;

    &.fan {
      width: 32px;
      height: 32px;
      top: 145px;
      left: 17px;
      background-image: url('../images/fan.png');

      @include animation(spin 1.5s infinite linear);
    }

    &.cable {
      width: 18px;
      height: 102px;
      top: 202px;
      left: 327px;
      background-image: url('../images/cable.png');

      @include animation(pendulum 3s infinite ease-in-out);
    } 
  }
}

/* Animations */

@include keyframes(spin) {
  0% { @include transform-rotate(0, 50%, 50%); } 
  100% { @include transform-rotate(360, 50%, 50%); }
}

@include keyframes(pendulum) {
  0% { @include transform-rotate(10, 50%, 0%); }
  50% { @include transform-rotate(-10, 50%, 0%); }
  100% { @include transform-rotate(10, 50%, 0%); }
}

